<div class="card div-card mt-2">
    <img class="img-aside-right" src="img/photos/changelog.png" alt="changelog">
    <div class="card-body">
        <p class="">New Forem Changelog Entries!</p>
        <p class="c-text-color">-> "Lock Discussions on Posts"</p>
        <p class="c-text-color">-> "Accessibility Enhancements"</p>
    </div>
</div>

<div class="card mt-4 r-card-list">
    <div class="card-header font-weight-bold a-right">
        <h4 class="mt-1">Listings</h4>
        <a href="#" class="post-l">See all</a>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">React Developer - Full-Time, Remote
            <div>
                <p class="text-muted l-text">jobs</p>
            </div>
        </li>
        <li class="list-group-item">Course Launch:Competitive Programming - Crack Your Coding Interview
            <div>
                <p class="text-muted l-text">education</p>
            </div>
        </li>
        <li class="list-group-item">DEVniverse Notion Template - The content creater's space
            <div>
                <p class="text-muted l-text">products</p>
            </div>
        </li>
        <li class="list-group-item">Backkend Handbook for Ruby on Rails applications
            <div>
                <p class="text-muted l-text">products</p>
            </div>
        </li>
        <li class="list-group-item">33 GitHub projects I have bookmarked and you should
            <div>
                <p class="text-muted l-text">misc</p>
            </div>
        </li>
        <p class="text-center font-weight-bold mt-2">Create a Listing</p>
    </ul>
</div>

<div class="card mt-4">
    <div class="card-header font-weight-bold">
        <h4>#news</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Buckle Up For a Wild Decade in Cloud Computing
            <div>
                <p class="text-muted l-text">11 comments</p>
            </div>
        </li>
        <li class="list-group-item">Game Dev Digest -Issue #98 - Multiplayer, starting shaders and more!
            <div>
                <button type="button bg-primary" class="btn-new">New</button>
            </div>
        </li>
        <li class="list-group-item">Our top tech news & programming sites
            <div>
                <button type="button bg-primary" class="btn-new">New</button>
            </div>
        </li>
        <li class="list-group-item">MoonZoon Dev News (4): Actix, Async CLI, Error Handling, Wasmpack installer
            <div>
                <button type="button bg-primary" class="btn-new">New</button>
            </div>
        </li>
        <li class="list-group-item">K*ssandra & the Community
            <div>
                <button type="button bg-primary" class="btn-new">New</button>
            </div>
        </li>
    </ul>
</div>

<div class="card mt-4">
    <div class="card-header font-weight-bold">
        <h4>#help</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">2021 Best Laptops for Software Development
            <div>
                <button type="button bg-primary" class="btn-new">New</button>
            </div>
        </li>
        <li class="list-group-item">How can i create a dynamic menu
            <div>
                <button type="button bg-primary" class="btn-new">New</button>
            </div>
        </li>
    </ul>
</div>

<div class="card mt-4">
    <div class="card-header font-weight-bold">
        <h4>#discuss</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ALPHA REACT 18 HAS ARRIVED
            <div>
                <button type="button bg-primary" class="btn-new">New</button>
            </div>
        </li>
        <li class="list-group-item">Should You Really be Coding in Dark Mode?
            <div>
                <p class="text-muted l-text">11 comments</p>
            </div>
        </li>
        <li class="list-group-item">What was your win this week0?
            <div>
                <p class="text-muted l-text">10 comments</p>
            </div>
        </li>
        <li class="list-group-item">How I got 1000 followers on DEV
            <div>
                <p class="text-muted l-text">4 comments</p>
            </div>
        </li>
        <li class="list-group-item">How do you stay up to date with the latest developments in tech?
            <div>
                <p class="text-muted l-text">35 comments</p>
            </div>
        </li>
    </ul>
</div>